In [1]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\akhik\\Downloads\\customer_data_edited.csv")

In [7]:
df.head()

,recordID,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn,customer_id
0,1,HI,101,510,no,no,0,70.9,123,12.05,...,18.01,236.0,73,10.62,10.6,3,2.86,3,no,23383607.0
1,2,MT,137,510,no,no,0,223.6,86,38.01,...,20.81,94.2,81,4.24,9.5,7,2.57,0,no,22550362.0
2,3,OH,103,408,no,yes,29,294.7,95,50.10,...,20.17,300.3,127,13.51,13.7,6,3.70,1,no,59063354.0
3,4,NM,99,415,no,no,0,216.8,123,36.86,...,10.74,220.6,82,9.93,15.7,2,4.24,1,no,25464504.0
4,5,SC,108,415,no,no,0,197.4,78,33.56,...,10.54,204.5,107,9.20,7.7,4,2.08,2,no,691824.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12892 entries, 0 to 12891
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   recordID                       12892 non-null  int64
 1   state                          12892 non-null  object
 2   account_length                 12892 non-null  int64
 3   area_code                      12892 non-null  int64
 4   international_plan             12892 non-null  object
 5   voice_mail_plan                12892 non-null  object
 6   number_vmail_messages          12892 non-null  int64
 7   total_day_minutes              12892 non-null  float64
 8   total_day_calls                12892 non-null  int64
 9   total_day_charge               12892 non-null  float64
 10  total_eve_minutes              12892 non-null  float64
 11  total_eve_calls                12892 non-null  int64
 12  total_eve_charge               12892 non-null  float64
 13  total_night_minutes            12892 non-null  float64
 14  total_night_calls              12892 non-null  int64
 15  total_night_charge             12892 non-null  float64
 16  total_intl_minutes             12892 non-null  float64
 17  total_intl_calls               12892 non-null  int64
 18  total_intl_charge              12892 non-null  float64
 19  number_customer_service_calls  12892 non-null  int64
 20  churn                          12892 non-null  object
 21  customer_id                    12892 non-null  float64
dtypes: float64(9), int64(9), object(4)
memory usage: 2.2+ MB

In [11]:
duplicates = df.duplicated().sum()

In [13]:
missing_values = df.isnull().sum()

In [15]:
duplicates

0

In [17]:
missing_values

recordID                         0
state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
customer_id                      0
dtype: int64

In [19]:
data_cleaned = df.drop(columns=["recordID", "customer_id"])

In [21]:
data_cleaned['international_plan'] = data_cleaned['international_plan'].map({'yes': 1, 'no': 0})
data_cleaned['voice_mail_plan'] = data_cleaned['voice_mail_plan'].map({'yes': 1, 'no': 0})
data_cleaned['churn'] = data_cleaned['churn'].map({'yes': 1, 'no': 0})

In [23]:
data_cleaned = pd.get_dummies(data_cleaned, columns=["state"], drop_first=True)

In [25]:
target_distribution = data_cleaned['churn'].value_counts(normalize=True)

In [33]:
print("DUPLICATES VALUES =",duplicates)

DUPLICATES VALUES = 0

In [35]:
print("MISSING VALUES =",missing_values)

MISSING VALUES = recordID                         0
state                            0
account_length                   0
area_code                        0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
churn                            0
customer_id                      0
dtype: int64

In [37]:
print("TARGET DISTRIBUTION =", target_distribution)

TARGET DISTRIBUTION = churn
0    0.858594
1    0.141406
Name: proportion, dtype: float64